#root {
  --dark-red: #ad151b;
  --light-red: #ef2d2d;
  --medium-light-red: #ef2d2d7e;
  --orange: #ff8a5b;
  --yellow: #f5ee9e;
  --light-green: #009b72;
  --dark-green: #065143;
  --dark-blue: #101e57;
  --light-blue: #0f7794; 
  --white: #f5f5f5;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  overflow-x: hidden;
}

.btn {
  background-color: var(--dark-red) !important;
  color: var(--white) !important;
  font-weight: 500 !important;
  border: none;
  padding: 5px 15px !important;
  border-radius: 20px !important;
  cursor: pointer;
}