.banner-top, .banner-bottom {
    width: 100%;
    background-image: url('../../assets/img/hero.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
       
}

.banner-top {
    height: 15vh;
    margin-top: 4rem; 
}
.banner-bottom {
    height: 13vh;
}

.banner-top.download, .banner-bottom.download {
    background-image: none;
    background-color: #fff;
}

.banner-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-red);
    opacity: 0.2;
    z-index: 0;
}